<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap" rel="stylesheet">
<center>
    <img src='https://lh3.googleusercontent.com/eWvRhY3r-mXe8XcvQ_9wIz1tvlPk5bNYTS8YTPkg7g-tSp0mj0g6XQ_pNjr6HREj6w4s-8PA4Yhxf3KSt25awaSzUG1NTOLosY0erAjNHyqSXUaG_rEqBNFmdXb8No9C7XwptOAjzdo=w2400' width="600" height="285">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{ page.title }}</title>

  </head>
  <body>
    <nav>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/yosemite">Yosemite</a></li>
    <li><a href="/alaska">Alaska</a></li>
    <li><a href="/eastern_sierra">Eastern Sierra Nevada</a></li>
    <li><a href="/kings_canyon">Kings Canyon</a></li>
    <li><a href="/death_valley">Death Valley</a></li>
    <li><a href="/joshua_tree">Joshua Tree</a></li>
    <li><a href="/malibu">Malibu</a></li>
    <li><a href="/cabo">Cabo</a></li>
    <li><a href="/hong_kong">Hong Kong</a></li>
    <li><a href="/utah">Utah</a></li>
    <li><a href="/israel_jordan">Israel and Jordan</a></li>
    <li><a href="/black_and_white">Black and White</a></li>
    <li><a href="/about">About Me</a></li>
    <li><a href="/travels">Travels</a></li>
</ul>
    </nav></center>

<div class="container">

  {{ content }}

</div>

</html>
