<!DOCTYPE html>
<html>

    <center><img src='https://lh3.googleusercontent.com/-AMl9lJE9psq-4GTmXnZBERUB7vGnmyrlEiZidU-or3THWSP3zo6VLLUFNj6ZdjocLswWjVv2iqB12k6BObLBv7i8RopATKw46GgsQBkZW6E3_33Fe5sWnhkhFCxMQHBwpsBMe4'>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <title>{{ page.title }}</title>
  
  </head>
  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About Me</a></li>
<li><a href="/current_events">Links re: Current Events</a></li> 
<li><a href="/music">Music</a></li>
<li><a href="/engineering_math">Engineering & Math</a></li>
<li><a href="/business">Links re: Business</a></li>
<li><a href="/reading">My Reading List</a></li>
<li><a href="/sports">Sports</a></li>
<li><a href="/photography">Photography</a></li>
<li><a href="/travels">Travels</a></li>
<li><a href="mailto:adam.gross.email@gmail.com">Email</a></li>
</ul>
    </nav></center>

<div class="container">

  {{ content }}

</div>
  
  <footer>
   <center><ul>
   <li><a href="mailto:adam.gross.email@gmmail.com" target="_blank">Email Me</a></li>
   <li><a href="https://www.instagram.com/adam.m.gross/" target="_blank">@Instagram Art Feed</a></li>
   <li><a href="https://www.instagram.com/agrossster" target="_blank">@Instagram Social Feed</a></li>
   <li><a href="https://github.com/adammgross" target="_blank">@Github</a></li>
   </ul>
   <img width=15% height=10% src="http://www.carlogos.org/logo/AMG-logo-black-1920x1080.png" border="0" alt=" photo 13043444_1189955967682926_8496823276350081830_n_zpsvplxcfbc.jpg"/></center>
  </footer>
  </body>

</html>
